body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: blueviolet;
}


.container {
    height: 60vh;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
}

.game {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    height: 90px;
    width: 90px;
    
    border-radius: 5px;
    /* box-shadow: 0 0 16px rgba(0,0,0,0.3) ; */
    font-size: 50px;
    font-weight: 600;
    color:orangered; 
    background-color: blanchedalmond;
}

#resetbtn {
    padding: 10px;
    font-size: 20px;
    background-color:blue;
    color: white;
    border-radius: 5px;
}

#newbtn {
    padding: 10px;
    font-size: 20px;
    background-color:blue;
    color: white;
    border-radius: 5px;
}

#msg {
    color: blanchedalmond;
    font-size: 35px;
    font-weight: 800;
}

.msg_container {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}


